<!DOCTYPE html>
{% extends 'Admin_homepage.html' %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AddProduct</title>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
          $(document).ready(function(){
            $('#submit').click(function(){
              Swal.fire(
                'Succesfully!',
                'submitted succesfully!',
                'success'
                )
            })
          })
        </script>
       
    </head>
    <body>
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Products Adding Page</h6>
            <form method="post" action="{% url 'save_Product' %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="floatingTextarea">Product Name</label>
                    <input type="text" class="form-control" id="text"
                        placeholder style="height: 50px;" name="Product">
                </div>

                <div class="form-group mb-3 ">
                    <label for="floatingTextarea">Categories</label>
                    <select class="form-select" id="floatingSelect"
                        aria-label="Floating label select example"
                        style="height: 60px;" name="category">
                        {% for i in data %}
                        <option selected>{{i.c_name}}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="form-group mb-3 ">
                    <label for="floatingTextarea">Sizes</label>
                    <select multiple class="SlectBox" id="floatingSelect"
                        aria-label="Floating label select example"
                        style="height: 60px;" name="sizes">
                        {% for i in sizes %}
                        <option value="{{i.0}}">{{i.1}}</option>
                        {% endfor %}

                    </select>
                </div>
                <div id="wrapper">
                    <label for="yes_no">Trendy Product:</label>
                    <input type="radio" name="trendy" value="yes">Yes
                    <input type="radio" name="trendy" value="No">No
                </div><br>

                <div id="wrapper">
                    <label for="yes_no">New Arrival:</label>
                    <input type="radio" name="New" value="yes">Yes
                    <input type="radio" name="New" value="No">No
                </div><br>

                <div class="mb-3">
                    <label for="file" class="form-label">Image:</label>
                    <input type="file" class="form-control" id="file"
                        name="p_image">
                </div>

                <div class="form-group mb-3">
                    <label for="floatingInput">Price</label>
                    <input type="text" class="form-control" id="floatingInput"
                        placeholder style="height: 50px;" name="price">

                </div>

                <div class="form-group mb-3">
                    <label for="floatingInput">Quantity</label>
                    <input type="text" class="form-control" id="floatingInput"
                        placeholder style="height: 50px;" name="quantity">

                </div>

                <div class="form-group">
                    <label for="floatingTextarea">Description</label>
                    <textarea class="form-control" placeholder
                        id="floatingTextarea" style="height: 150px;"
                        name="description"></textarea>

                </div><br><br>
                <button type="submit" class="btn btn-primary" id="submit">Save</button>

            </div>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
            {% if messages %}
            {% for message in messages %}
            
            {% if message.tags == 'warning' %}
            <script>
            swal('{{messages}}','', 'warning');
            </script>
             
            {% elif message.tags == 'error' %}  
            <script> 
            swal('{{message}}','','error');
            </script>
            
            {% else%}
            <script>   
            swal('{{message}}','', 'success');
            
            </script>
            
        
            
        {% endif %}
        {% endfor %}
        {% endif %}
           
        </body>
    </html>
    {% endblock %}