<!DOCTYPE html>
{% extends 'Admin_homepage.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-sm-12 col-xl-6" style="width: 100%;">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">carousel Table</h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        
                        <th scope="col">Image</th>
                        <th scope="col">Caption</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in cr_data %}
                    <tr>
                        <th scope="row">1</th>
                        <td><img src="{{i.cover_image.url}}" height="50px" width="100px"></td>
                        <td>{{i.caption}}</td>
                   
                    
                
                    <td>    <div style="display: flex; justify-content: space-around;">
                        <form action="{% url 'Edit_Carousel' dataid=i.id  %}">
                            <button type="submit" class="btn btn-primary mr-2">Edit</button>

                        </form>
                        <form action="{% url 'delete_carousal' dataid=i.id  %}">
                            <button type="submit" class="btn btn-primary mr-2">Delete</button>
                        </form></div>
                        
                    </td>
             
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
{% endblock %}