<!DOCTYPE html>
{% extends 'Admin_homepage.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-sm-12 col-xl-6" style="width: 100%;">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Products Table</h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        
                        <th>username</th>
                        <th>User Name</th>
                        <th scope="col">Email Id</th>
                        <th scope="col">Mobile No</th>
                        <th>City</th>
                        <th>Address</th>
                        <th scope="col">Pin Code</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in order_data %}
                   
                    <tr>
                        
                        <td>{{i.order.user.username}}</td>
                        <td>{{i.Name}}</td>
                        <td>{{i.Email}}</td>
                        <td>{{i.Mobile}}</td>
                        <td>{{i.City}}</td>
                        <td>{{i.Address}}</td>
                        <td>{{i.Pin_Code}}</td>
                        <td>{{i.Product_name}}</td>
                        <td>{{i.Quantity}}</td>
                        <td>{{i.Total_price}}</td>
                   
                    
                
                    <td>    <div style="display: flex; justify-content: space-around;">
                        
                        <form action="{% url 'delete_order' dataid=i.id  %}">
                            <button type="submit" class="btn btn-primary mr-2">Delete</button>
                        </form></div>
                        
                    </td>
             
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
{% endblock %}